@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

p{
    font-size: 1.6rem;
}

h2{
    font-size: 2rem;
}

/* Banner inicial */
header.banner{
    background: url("../img/coffeeBanner.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;    
}

header.banner div.banner-content{
    padding: 5rem;
    font-size: large;
    width: 100%;
    height: 100%;
    background-color: #00000091;
    color: whitesmoke;
    margin: 0 auto;
} 

header.banner div.banner-content p{
    width: 50%;
    margin-left: 5rem;
    font-size: large;
    font-weight: 600;
    letter-spacing: .1rem;
}
header.banner div.banner-content img{
    width: 60rem;
    margin-bottom: -20rem;
}

section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
section img{
    width: 50%;
}
section div{
    font-size: large;
    width: 50%;
    padding: 5rem;
}
section div h2{
    margin-bottom: 1rem;
}
section div ul{
    margin-left: 3rem;
}
section div ul li{
    margin-bottom: .3rem;
}
/* Sessão bebidas */
section.bebidas{
    background-color: #594126;
    color: whitesmoke;
}

/* Sessão Salgados */
section.salgados{
    flex-direction: row-reverse;
    background-color: #D9CCBD;
}

/* Sessão Doces */
section.doces{
    background-color: #513B23;
    color: whitesmoke;
}
section.doces div ol{
    margin-left: 3rem;
}
section.doces div ol li{
    margin-bottom: .3rem;
}

/* Sessao horarios */
section.horarios{
    padding: 5rem;
    justify-content: center;
    flex-direction: column;
    background-color: #D9CCBD;
}
section.horarios h2{
    font-size: 2rem;
    margin-bottom: 4rem;
}
section.horarios .table{
    width: 100%;
    padding: 1rem 2rem;
}
section.horarios table{
    width: 100%;
    background-color: #d1b799;
    border-radius: 1rem;
    font-size: 1.4rem;
}
section.horarios th{
    background-color: #513B23;
    color: whitesmoke;
}
section.horarios thead th:first-of-type{
    border-radius: 1rem 0 0 0;
}
section.horarios thead th:last-of-type{
    border-radius: 0 1rem 0 0;
}

section.horarios tbody tr:last-of-type th{
    border-radius: 0 0 0 1rem;
}

section.horarios table td, section.horarios table th{
    transition: 0.4s;
    padding: 0.5rem;
    text-align: center;
}

section.horarios table tr:first-child td:nth-child(odd),
section.horarios table tr:last-of-type td~td:nth-child(even){ /* ~ -> seletor de irmãos adjacentes */
    background-color: #a1825e;
    color: whitesmoke;
    transition: 0.3s;
}

section.horarios table td:hover,
section.horarios table tr:first-child td:nth-child(odd):hover, section.horarios table tr:last-of-type td~td:nth-child(even):hover{
    background-color: #9f7242;
    color: white;
}

/* Sessao contato */
section#contato{
    padding: 5rem;
    background-color: #513B23;
    color: white;
}
section#contato>*{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
section#contato h2{
    /* margin-bottom: 2rem; */
    width: 50%;
    font-size: 2.4em;
}
section#contato form{
    width: 50%;
}
section#contato form label{
    margin: 1rem 5rem;
}
section#contato form input{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.3rem solid #a1825e;
    /* width: 100%; */
    margin: 0 5rem;
}
section#contato form textarea{
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.3rem solid #a1825e;
    margin: 0 5rem;
}
section#contato .button {
    font-size: large;
    font-weight: bold;
    color: #513B23;
    background-color: #f8f8fd;
    padding: 0.5em 2.1em;
    border-radius: 50em;
    border: 0.6rem solid #a1825e;
    box-shadow: 0 0.8rem #D9CCBD;
    margin: 0 5rem;
    transition: 0.3s;
}

section#contato .button:hover {
    background-color: #D9CCBD;
}
section#contato .button:active {
    position: relative;
    top: 0.8rem;
    border: 0.6rem solid #d1b799;
    background-color: #f8f8f8;
    box-shadow: 0 0;
}

/* Font- size padrao table - 1.4rem */
/* Tablet */
@media (max-width: 768px){
    :root{
        font-size: 8px;
    }

    section div ul, section div ol{
        font-size: 1.6rem;
    }

}
/* Moble L */
@media (max-width: 526px){
    :root{
        font-size: 72.5%;
    }

    header.banner{
        background-position: 45%;
    }

    header.banner div.banner-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10rem 2rem;
        background-color: rgba(0,0,0,0.76);
    }

    header.banner div.banner-content img{
        width: 90%;
        margin-bottom: -19rem;
    }

    header.banner div.banner-content p{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    section{
        flex-direction: column !important;
        padding: 3rem !important;
    }

    section img{
        width: 100%;
        /* margin: 3rem; */
        border-radius: 10px;
    }
    section div{
        width: 100%;
        padding: 3rem 1rem 1rem;
    }

    section.horarios{
        padding: 3rem;
    }
    section.horarios .table{
        border-radius: 1rem;
        overflow-x: auto;
        padding: 0;
    }

    section#contato h2{
        margin-bottom: 3rem;
    }
    section#contato h2,
    section#contato form{
        text-align: center;
        width: 100%;
    }
}