@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 6.25%;
}

html{
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: grid;
    font-size: 17rem;
    grid-template-areas: 'header header' 'aside main' 'footer footer';
    grid-template-rows: 120rem 1fr 100rem;
    grid-template-columns: 200rem 1fr;
    background: url('../img/gramado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    grid-area: header;
    background-color: #1a3e70;
    color: whitesmoke;
    place-items: center;
    place-content: center;
    z-index: 1;
}
.menu-button {
    width: 32rem;
    height: 32rem;
    position: absolute;
    top: 50%;
    left: 32rem;
    transform: translateY(-50%);
    border: 0;
    background: none;
    display: none;
    cursor: pointer;
}

.menu-button div{
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: relative;
    transition: 0.3s;
}

.menu-button div::before{
    content: '';
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    left: 0;
    transition: 0.3s;
    top: -10rem;
    opacity: 1;
}
.menu-button div::after{
    content: '';
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    transition: 0.3s;
    left: 0;
    bottom: -10rem;
}

.menu-button:hover div{
    opacity: 1;
}

.menu-button.active div{
    transform: rotate(-45deg);
    /* opacity: 1; */
}
.menu-button.active div::after{
    transform: rotate(-90deg);
    left: 0;
    bottom: 0;
    opacity: 1;
}
.menu-button.active div::before{
    opacity: 0;
}

aside{
    grid-area: aside;
    position: relative;
    color: whitesmoke;
    padding: 20rem;
    background-color: #00a19ca8;
    backdrop-filter: blur(8px);
    transition: 0.3s;
    box-shadow: 5rem -10rem 20rem #00a19c;
}
aside nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
aside ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
aside ul li {
    margin: 10rem 0;
}
aside ul li:hover a {
    background-color: #285eab;
    scale: 1.1;
}
aside ul li a{
    transition: all 0.5s ease-out;
    color: antiquewhite;
    display: inline-block;
    text-decoration: dashed;
    padding: 10rem;
    /* background-color: #1a3e70; */
    background-color: rgba(26, 62, 112, 0.65);
    width: 100%;
    border-radius: 10rem;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 60rem;
}
main h2{
    margin-bottom: 30rem;
}
main article{
    background-color: #00a19c57;
    backdrop-filter: blur(3px);
    padding: 40rem 50rem;
    border: 5rem dashed #88baff96;
    color: whitesmoke;
    border-radius: 10rem;
    box-shadow: 20rem 20rem 45rem 0rem rgba(0,0,0,0.45);

    display: flex;
    flex-direction: column;
    align-items: center;
}
article p {
    text-align: center;
    margin-bottom: 30rem;
}

aside.imgs{
    background-color: unset;
    padding: 2rem;
    margin-left: 0;
    margin-top: 30rem;

    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}
aside.imgs img{
    width: 30%;
    box-shadow: 20rem 20rem 45rem 0rem rgba(0,0,0,0.45);
    border: 5rem dashed #1a3e70;
    border-radius: 50%;
}
aside.imgs img~img{ /* Seletor de irmão adjacentes */
    border-radius: 10rem;
}

footer{
    grid-area: footer;
    color: whitesmoke;
    background-color: #0b1b31d6;
    backdrop-filter: blur(6px);

    place-content: center;
    place-items: center;
}

/* Tablet */
@media (max-width: 770px){
    body{
        grid-template-areas: 'header' 'main' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 120rem 1fr 100rem;
        position: relative;
    }
    .menu-button{
        display: block;
    }
    aside#menu{
        z-index: 999;
        position: fixed;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        /* display: none; */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        font-size: 19rem;
        box-shadow: unset;
    } 
    aside#menu.active{
        top: 120rem;
    }
    #menu ul li a{
        padding: 20rem;
    }
    #menu ul li:hover a{
        scale: 1.01;
    }
    #menu ul {
        display: flex;
        height: 60%;
        justify-content: space-around;
    }
    header {
        position: fixed;
        place-items: center;
        width: 100%;
        height: 120rem;
    }

    main{
        flex-direction: column;
        padding: 30rem;
    }
    aside.imgs{
        flex-direction: row-reverse;
        align-items: center;
        padding: 2rem;
        margin-left: 0;
        margin-top: 30rem;
    }
    aside.imgs img{
        width: 45%;
        
    }
}
@media (max-width: 430px){
    :root{
        font-size: 5.2%;
    }
    body{
        grid-template-areas: 'header' 'main' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 120rem 1fr 100rem;
        position: relative;
    }
    aside#menu{
        z-index: 999;
        position: fixed;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        /* display: none; */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        font-size: 19rem;
    } 
    aside#menu.active{
        top: 120rem;
    }
    #menu ul li a{
        padding: 20rem;
    }
    #menu ul {
        display: flex;
        height: 60%;
        justify-content: space-around;
    }
    header {
        position: fixed;
        place-items: center;
        width: 100%;
        height: 120rem;
    }
}