@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 4, 61, 1) 100%);
}

section ul li,
section ol li {
  margin-left: 20rem;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3vh 0;
  transition: 0.3s;
}

nav .mobile-menu {
  display: none;
}

.btn.dropdown:hover {
  border-radius: 10rem;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #483c64;
  min-width: 250rem;
  box-shadow: 0rem 8rem 16rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-13%, 15rem);
  border-radius: 5rem;
}

nav .dropdown-content a {
  display: block;
  text-decoration: none;
  color: #d1d1d1;
  padding: 15rem;
  background: unset;
}

nav .dropdown-content a:hover {
  background-color: #24133f;
}

.dropdown-content a:hover {
  transform: translateY(-3rem);
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2);
}

.dropdown-content a:active {
  transform: translateY(-1rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-content.active{
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 4, 61, 1) 100%);
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 97vh;
  padding: 50rem;
}

header img {
  width: 400rem;
  height: 400rem;
  border-radius: 4rem;
  border: 4rem solid #d1d1d1;
  animation: shadow-change 2.5s infinite linear;
}

header div.info h2 {
  margin-bottom: 15rem;
  padding-right: 50rem;
}

header div.info h1 {
  margin-bottom: 40rem;
  font-size: 2.4em;
}


section.habilidades {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50rem;
}

section.habilidades h2 {
  margin-bottom: 15rem;
}

section.habilidades img {
  width: 500rem;
  height: 500rem;
  border-radius: 4rem;
  border: 4rem solid #2c2c2c;
  animation: shadow-change-black 2s infinite linear;
}

section.contatos {
  background-color: #1e1e1e;
  color: white;
  padding: 50rem;
  display: flex;
  justify-content: space-around;
}

section.contatos>div p {
  margin-bottom: 10rem;
}

.email ul {
  margin-top: 15rem;
  list-style-type: none;
}

.email ul a {
  color: white;
}

.email ul a:visited {
  color: rgb(120, 120, 120);
}

/* From Uiverse.io by cssbuttons-io */
.btn {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10rem 2em;
  display: inline-block;
  border-radius: 5em;
  transition: all 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #423b5e;
}

/* Links transparentes, com o hover ficando opaco */
.btn:hover {
  transform: translateY(-3rem);
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2);
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.btn:active {
  transform: translateY(-1rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Links e Icones das redes-sociais - idea from https://uiverse.io/profile/Pradeepsaranbishnoi */
.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  text-decoration: none;
  color: #1e1e1e;
}

.social-btn {
  cursor: pointer;
  height: 50rem;
  width: 50rem;
  color: #333;
  border-radius: 10rem;
  box-shadow: 0rem 10rem 10rem rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5rem;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24rem;
  width: 24rem;
  margin-right: -5rem;
}

.social-btn span {
  width: 0rem;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5rem;
}

.social-btn:hover {
  width: 170rem;
  border-radius: 5rem;
  background: #e3e3e3;
}

.social-btn:hover svg {
  margin-right: 0;
}

.social-btn:hover span {
  padding: 2rem;
  width: 60%;
  ;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

/* Animações */
@keyframes shadow-change {

  0%,
  100% {
    box-shadow: 0rem 0rem 15rem 0rem #7d68ad;
  }

  25% {
    box-shadow: 0rem 0rem 15rem 2rem #12a8ed;
  }

  50% {
    box-shadow: 0rem 0rem 15rem 4rem #7d68ad;
  }

  75% {
    box-shadow: 0rem 0rem 15rem 8rem #12a8ed;
  }
}

@keyframes shadow-change-black {

  0%,
  100% {
    box-shadow: 0rem 0rem 15rem #000;
  }

  25% {
    box-shadow: 0rem 0rem 15rem #939393;
  }

  50% {
    box-shadow: 0rem 0rem 15rem #000;
  }

  75% {
    box-shadow: 0rem 0rem 15rem #939393;
  }
}

/* Responsividade */
@media (max-width: 850px) {
  :root {
    font-size: 5.4%;
  }

  /* Padding 25rem de grade para o site  */
  body {
    font-size: 19rem;
  }

  /* Nav - Menu */
  nav .mobile-menu {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 4, 61, 1) 100%);
    color: whitesmoke;
    font-size: 20rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 25rem;
    position: fixed;
    width: 100vw;
    height: 9vh;
  }

  .menu-button {
    width: 32rem;
    height: 32rem;
    position: relative;
    border: 0;
    background: none;
    display: block;
    cursor: pointer;
  }

  .menu-button div {
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: relative;
    transition: 0.3s;
  }

  .menu-button div::before {
    content: '';
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    left: 0;
    transition: 0.3s;
    top: -10rem;
    opacity: 1;
  }

  .menu-button div::after {
    content: '';
    height: 5rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    transition: 0.3s;
    left: 0;
    bottom: -10rem;
  }

  .menu-button:hover div {
    opacity: 1;
  }

  .menu-button.active div {
    transform: rotate(-45deg);
    /* opacity: 1; */
  }

  .menu-button.active div::after {
    transform: rotate(-90deg);
    left: 0;
    bottom: 0;
    opacity: 1;
  }

  .menu-button.active div::before {
    opacity: 0;
  }


  nav ul.menu-links {
    /* display: none; */
    position: fixed;
    top: -100%;
    flex-direction: column;
    padding: 25rem;
    justify-content: space-around;
    text-align: center;
    height: 95vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 4, 61, 1) 100%);
  }

  nav ul.menu-links div {
    width: 100%;
  }

  nav ul.menu-links.active {
    top: 8%;
  }

  nav .dropdown .dropdown-content {
    transform: translateY(15rem);
    left: 0;
  }

  .dropdown:active .dropdown-content,
  .dropdown .dropdown-content.active {
    display: block;
  }

  .btn {
    position: static;
  }

  .btn::after {
    content: unset;
  }

  header {
    flex-direction: column;
    padding: calc(9vh + 30rem) 30rem 50rem;
    height: auto;
    justify-content: space-around;
  }

  header img {
    width: calc(100% - 40rem);
    height: auto;
    /* margin-top: 20rem */
  }

  section.habilidades {
    align-items: flex-start;
    flex-direction: column;
    padding: 50rem;
  }

  section.habilidades img {
    width: 100%;
    height: auto;
  }

  section.habilidades div.linguagens {
    margin: 60rem 0 0;
  }

  section.contatos {
    flex-direction: column;
    align-items: flex-start;
  }

  section.contatos div.email {
    margin-top: 50rem;
  }

  section.contatos div.email ul {
    margin: auto;
  }
}